*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

:root{
    --color-naranja: rgb(255, 168, 7)
}

body{
    background: url(fondos/tactile_noise.webp);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

hr{
    border: 1px solid black;
    opacity: 0.5;
}

/* SCROLL */
::-webkit-scrollbar{
    /* display: none; */
    /* background-color: black; */
    width: 13px;
}

::-webkit-scrollbar-button{
    background-color: black;
    /* color: black; */
    height: 0;
}

/* ::-webkit-scrollbar-corner{
    background-color: blue;
} */

::-webkit-scrollbar-thumb{
    background-color: var(--color-naranja);
    border-radius: 20px;
}
/* 
::-webkit-scrollbar-track{
    background-color: yellow;
} */

::-webkit-scrollbar-track-piece{
    background-color: black;
}

/* INTRO */
.intro{
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-naranja);
    animation: intro 0s linear 0s 1 normal forwards;
}

.intro .intro-logo{
    font-size: 70px;
    margin-bottom: 20px;
    animation: intro-logo 2s linear 0s 1 normal;
}

.intro h2{
    font-size: 40px;
    animation: intro-titulo 3s ease-out 0s 1 normal;
}

.intro .sombra{
    background-color: rgba(255, 168, 7, 0.342);
    width: 60%;
    height: 5px;
    margin-top: 20px;
}

.intro .carga{
    background-color: var(--color-naranja);
    width: 0;
    height: 5px;
    animation: intro-carga 3s ease-in-out 0s 1 normal;
}

/* HEADER */
.header{
    background-color: rgb(19, 19, 19);
    color: var(--color-naranja);
    padding: 15px;
}

.contenido-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contenido-header span{
    font-size: 30px;
}

.logo-pagina .logo:hover{
    animation: logo 1s linear 0s 1 normal;
}

.header a{
    color: var(--color-naranja);
}

.titulo h1:hover{
    animation: titulo 0.7s ease-in-out 0s 1 normal;
}

.usuario{
    cursor: pointer;
}

.menu{
    background-color: var(--color-naranja);
    color: black;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 58px;
    box-shadow: 2px 2px 5px 0px rgba(255, 255, 255, 0.747);
    display: none;
    z-index: 55;
}

.show{
    display: block;
}

.menu .triangulo{
    position: absolute;
    right: 0px;
    top: -30px;
    border-left: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid var(--color-naranja);
}

.menu li{
    padding: 10px 0;
}

.menu li a{
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.menu li a:hover{
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.534);
    font-weight: bolder;
}

/* NAVBAR */
.navbar,
.navbar-responsive{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    position: sticky;
    top: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.navbar ul,
.navbar-responsive ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navbar li,
.navbar-responsive li{
    padding: 10px;
}

.navbar a,
.navbar-responsive a{
    padding: 0 10px;
    transition: all 0.5s;
    text-align: center;
    /* color: rgba(255, 255, 255); */
}

.navbar a:hover,
.navbar-responsive a:hover span,
.navbar-responsive a:hover ion-icon{
    color: var(--color-naranja);
    transform: scale(1.2);
    transition: all 0.5s;
}

.navbar-responsive a:hover{
    margin: 30px;
}

.navbar-responsive span,
.navbar-responsive ion-icon{
    font-size: 25px;
    opacity: 0.9;
}

.navbar-responsive{
    display: none;
}

/* CONTENIDO */
.contenido{
    /* background-color: rgba(0, 0, 0, 0.8); */
    width: 100%;
    /* height: 1000px; */
    /* margin: 20px auto; */
    /* box-shadow: 0 0 5px rgb(255, 168, 7, 0.2); */
    /* padding: 20px; */
}

/* INICIO */
.inicio{
    background: url(imagenes/pexels-estudio-polaroid-3112004.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 40% 55%;
    box-shadow: 0 7px 8px black;
}

.inicio h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: var(--color-naranja);
    text-shadow: 4px 4px 10px black;
}

.inicio p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 25px;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 80px 0;
    padding: 20px;
}

/* EJERCICIOS */
.ejercicios{
    /* outline: 2px solid green; */
    /* display: inline; */
    height: 100%;
    /* box-shadow: 0 10px 5px red; */
}

.ejercicios .texto{
    background-color: rgba(59, 59, 59, 0.4);
    padding: 55px 30px;
}

.ejercicios .texto h2{
    color: var(--color-naranja);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    padding-bottom: 5px;
}

.ejercicios .contenedor-imagenes{
    /* outline: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 1200px;
    background-color: rgba(59, 59, 59, 0.4);
    position: relative;
    box-shadow: 0 10px 5px rgb(117, 80, 10);
}

.ejercicios img.cuerpo{
    padding: 20px 0px;
    width: 40%;
    height: 50%;
    /* outline: 2px solid red; */
}

.ejercicios .musculo{
    background-color: var(--color-naranja);
    padding: 5px 20px;
    color: black;
    box-shadow: 2px 2px 4px black;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    /* z-index: -0; */
}

.ejercicios .hombro{
    position: absolute;
    top: 5%;
    left: 31%;
    
}
.ejercicios .bicep{
    position: absolute;
    top: 14%;
    left: 29%;
}
.ejercicios .abdomen{
    position: absolute;
    top: 20%;
    left: 23%;
}
.ejercicios .cuadriceps{
    position: absolute;
    top: 29%;
    left: 25%;
}
.ejercicios .pectoral{
    position: absolute;
    top: 5%;
    left: 60%;
}
.ejercicios .tricep{
    position: absolute;
    top: 57%;
    left: 27%;
}
.ejercicios .isquios{
    position: absolute;
    top: 80%;
    left: 27%;
}
.ejercicios .espalda{
    position: absolute;
    top: 54%;
    left: 62%;
}
.ejercicios .gluteos{
    position: absolute;
    top: 73%;
    left: 67%;
}
.ejercicios .gemelos{
    position: absolute;
    top: 86%;
    left: 65%;
}

/* INFO MUSCULOS */
.lista-ejercicios{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* outline: 1px solid red; */
    z-index: 60;
    animation: show-lista-ejercicios 0.5s linear 0s 1 normal forwards;
}

.show-lista-ejercicios{
    display: block;
}

.detector-lista-ejercicios{
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.info-musculo-carta{
    background-color: black;
    width: 80%;
    margin: auto;
    border-radius: 30px;
    position: fixed;
    top: 10%;
    left: 10%;
    display: none;
    max-height: 550px;
    overflow: auto;
    padding-bottom: 20px;
    /* z-index: 3; */
}

.info-musculo-carta .contenedor-info-musculo{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-musculo-carta .contenedor-info-musculo .texto-info-musculo{
    padding: 20px;
    width: 100%;
    background-color: var(--color-naranja);
    text-align: center;
    color: black;
    letter-spacing: 8px;
    box-shadow: 0 2px 5px var(--color-naranja);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-musculo-carta .contenedor-info-musculo .texto-info-musculo .cerrar{
    cursor: pointer;
}

.info-musculo-carta .contenedor-info-musculo .imagenes-ejercicio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-around;
    width: 100%;
}

/* flip */
.info-musculo-carta .contenedor-info-musculo .imagenes-ejercicio .card{
    width: 40%;
    height: 130px;
    max-height: 110px;
    margin: 15px;
    box-shadow: 0px 0px 10px rgb(255, 168, 7, 0.5);
    border-radius: 40px;
}

.info-musculo-carta .contenedor-info-musculo .imagenes-ejercicio .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: 1s;
}

.info-musculo-carta .contenedor-info-musculo .imagenes-ejercicio .card .front{
    transform: perspective(600px) rotateY(0deg);
    width: 40%;
    max-height: 110px;
}

.info-musculo-carta .contenedor-info-musculo .imagenes-ejercicio .card .back{
    transform: perspective(600px) rotateY(180deg);
    /* background: url(carta/); */
    width: 40%;
    max-height: 110px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.info-musculo-carta .contenedor-info-musculo .imagenes-ejercicio .card .back .back-info{
    position: absolute;
    font-size: 25px;
    color: var(--color-naranja);
}

.info-musculo-carta .contenedor-info-musculo .imagenes-ejercicio .card .back img{
    opacity: 0.1;
}

.info-musculo-carta .contenedor-info-musculo .imagenes-ejercicio .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.info-musculo-carta .contenedor-info-musculo .imagenes-ejercicio .card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
/* flip end */

.info-musculo-carta .contenedor-info-musculo .imagenes-ejercicio .img-ejer{
    width: 100%;
    border-radius: 40px;
    max-height: 110px;
}

.show-info{
    display: block;
    animation: mostrar-info .2s linear 0s 1 normal;
}

/* CALCULADORA */
.calculadora{
    background-color: rgba(255, 168, 7, 0.6);
    width: 100%;
    /* height: 800px; */
    padding: 55px 30px;
    box-shadow: 0 10px 20px var(--color-naranja);
}

.calculadora .texto-calculadora{
    color: black;
    text-shadow: 2px 2px 7px rgba(255, 255, 255, 0.603);
}

.calculadora-contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.formulario{
    width: 70%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
}

.formulario hr{
    border: 1px solid var(--color-naranja);
    box-shadow: 0 0 5px white;
    opacity: 0.2;
    /* background-color: white; */
    margin: 20px 0;
}

.genero{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.genero h3{
    margin-right: 30px;
}

.genero #hombre{
    margin-right: 20px;
}


.calculadora input[type=radio]{
    display: none;
}

.calculadora .genero label{
    /* background-color: blue; */
    padding: 5px 15px;
    margin-right: 20px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.genero ion-icon{
    font-size: 40px;
    color: var(--color-naranja);
}

.genero .icono-con-relleno{
    display: none;
    opacity: 0.7;
    position: absolute;
    top: 6px;
    left: 16px;
    font-size: 38px;
}
.calculadora .genero label:hover{
    opacity: 0.6
}

.calculadora .genero input[type=radio]:checked + label .icono-con-relleno{
    display: block;
}

.peso-info,
.altura-info,
.edad-info{
    display: flex;
}

.peso-info h3,
.altura-info h3,
.edad-info h3{
    padding-right: 20px;
}

.calculadora input[type=number]{
    background-color: transparent;
    border: none;
    box-shadow: 0 0 4px var(--color-naranja);
    color: white;
    width: 20%;
    text-align: center;
}

.calculadora input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none; 
}

.calculadora input[type=number]:focus{
    border: none;
    outline: none;
    box-shadow: 0 0 10px var(--color-naranja);
}

.calculadora .factor-actividad-info{
    display: flex;
    flex-direction: column;
}

.calculadora .factor-actividad-info h3{
    padding-bottom: 10px;
}

.calculadora .factor-actividad-info label{
    font-size: 15px;
    margin: 5px 0;
    color: rgba(255, 168, 7, 0.4);
    cursor: pointer;
}

.calculadora .factor-actividad-info label:hover{
    color: var(--color-naranja);
    opacity: 0.9;

}
.calculadora .factor-actividad-info input[type=radio]:checked + label{
    color: var(--color-naranja);
    text-shadow: 0 0 10px var(--color-naranja)
}

.calcular-calorias{
    margin-top: 40px;
    /* justify-self: center; */
    align-self: center;
}

.calcular-calorias button{
    background-color: var(--color-naranja);
    padding: 20px;
    text-align: center;
    color: black;
    letter-spacing: 4px;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    box-shadow: 4px 4px 5px black;
}

.rayo{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    position: relative;
}

.rayo .cantidad-calorias{
    font-size: 23px;
    color: black;
    font-weight: bolder;
    text-align: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rayo .sin-relleno{
    /* background-color: red; */
    font-size: 300px;
    z-index: 10;
    color: rgb(2, 2, 2);
    /* position: absolute; */
}

.rayo i.con-relleno{
    /* display: none; */
    position: absolute;
    top: 55px;
    transform: scaleY(1.3) scaleX(1.2);
    color: var(--color-naranja);
    font-size: 200px;
    z-index: 8;
}

.rayo .tapar-rayo{
    width: 200px;
    height: 300px;
    z-index: 9;
    position: absolute;
    background-color: rgb(168, 116, 15);
}

.rayo .tapar-rayo-completo-caja{
    /* background-color: green; */
    width: 200px;
    height: 300px;
    z-index: 9;
    position: absolute;
    top: 25px;
    overflow: hidden;
}

.rayo .tapar-rayo-completo{
    /* background-color: red; */
    background-color: rgb(168, 116, 15);
    width: 200px;
    height: 300px;
    z-index: 9;
    position: absolute;
    bottom: 0;
    transition: transform 2s ease;
    /* transform: translateY(-290px); */
}

.rayo .tapar-rayo.p25{
    /* background-color: red; */
    top: 25px;
    height: 185px;
    display: none;
}
.rayo .tapar-rayo.p50{
    /* background-color: red; */
    top: 25px;
    height: 140px;
    display: none;
}
.rayo .tapar-rayo.p75{
    /* background-color: red; */
    top: 25px;
    height: 65px;
    display: none;
}
.rayo .tapar-rayo.p100{
    /* background-color: red; */
    top: 25px;
    height: 0px;
    display: none;
}

.mostrar-rayo{
    display: block !important;
    animation: mostrar-rayo 3s linear 0s 1 normal;
}

/* VIDEOS */
.videos{
    background-color: rgba(0, 0, 0, 0.8);
    /* height: 4000px; */
    padding: 55px 30px;
    overflow: hidden;
    box-shadow: 0 10px 20px black;
}

.videos .videos-contenedor{
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.videos .videos-contenedor .texto-video{
    padding-bottom: 20px;
}

.videos .videos-contenedor .texto-video h3{
    color: var(--color-naranja);
    font-size: 30px;
    padding-bottom: 5px;
    text-shadow: 2px 2px 7px rgba(255, 255, 255, 0.3);
}

.videos .videos-contenedor .caja-videos{
    display: flex;
    width: 70%;
    text-align: center;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(255, 168, 7, 0.4);
    padding: 20px 70px;
    padding-bottom: 40px;
    height: 500px;
}

.videos .videos-contenedor .caja-videos .video-musculo{
    /* outline: 1px solid green; */
    width: 100%;
    height: 100%;
}

.videos .videos-contenedor .caja-videos .video-musculo .musculo-actual{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    height: 50px;
}

.videos .videos-contenedor .caja-videos .video-musculo .musculo-actual span{
    opacity: 0.5;
    cursor: pointer;
    padding: 0 3px;
    /* display: none; */
}

.videos .videos-contenedor .caja-videos .video-musculo .musculo-actual span:hover{
    opacity: 1;
}

.videos .videos-contenedor .caja-videos .video-musculo .nombre-musculo-actual{
    font-size: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width: 270px;
    /* background-color: red; */
}

.videos .videos-contenedor .caja-videos .video-musculo .frame{
    /* outline: 1px solid yellow; */
    height: 90%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.342);
}

.videos .videos-contenedor .caja-videos .video-musculo .frame iframe{
    /* background-color: red; */
    /* outline: 1px solid red; */
    width: 100%;
    height: 100%;
}

/* PLANES */
.planes{
    /* height: 800px; */
    background-color: rgba(0, 0, 0, 0.2);
    padding: 55px 30px;
}

.planes .titulo-planes{
    font-size: 30px;
    padding-bottom: 40px;
    text-shadow: 2px 2px 5px black;
}

.planes .planes-contenedor{
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
    height: 500px;
}

.planes .planes-contenedor .plan{
    background-color: black;
    box-shadow: 2px 2px 5px var(--color-naranja);
    border-radius: 20px;
    padding: 30px;
    height: 400px;
}

.planes .planes-contenedor .plan hr{
    border: 1px solid var(--color-naranja);
    box-shadow: 0 0 10px var(--color-naranja);
    margin: 15px 0;
}

.planes .planes-contenedor .plan:hover{
    transition: box-shadow 0.3s;
    box-shadow: 0 0 20px var(--color-naranja);
}

.planes .planes-contenedor .plan .titulo-plan{
    font-size: 20px;
    padding-bottom: 8px;
}

.planes .planes-contenedor .plan .descripcion{
    height: 70%;
    /* background-color: red; */
    display: flex;
}

.planes .planes-contenedor .plan .descripcion ul{
    list-style: disc;
    padding: 0 20px;
}

.planes .planes-contenedor .plan .descripcion ul li{
    padding: 8px 0;
}

.planes .planes-contenedor .plan .boton-comprar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.planes .planes-contenedor .plan .boton-comprar button{
    font-size: 17px;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 2px solid rgba(255, 168, 7, 0.4);
}

.planes .planes-contenedor .plan .boton-comprar button:hover{
    color: black;
    font-weight: bolder;
    background-color: var(--color-naranja);
    transition: all 0.5s;
}

.planes .planes-contenedor .plan.recomendado{
    transform: scale(1.2);
    background-color: rgba(255, 168, 7);
    box-shadow: 2px 2px 5px white;
    color: black;
}

.planes .planes-contenedor .plan.plan.recomendado:hover{
    transition: box-shadow 0.3s;
    box-shadow: 0 0 20px white;
}

.planes .planes-contenedor .plan.recomendado h5::after{
    content: ' - RECOMENDADO';
}

.planes .planes-contenedor .plan.recomendado hr{
    border: 1px solid black;
    box-shadow: 0 0 10px black;
    margin: 15px 0;
}

.planes .planes-contenedor .plan.recomendado .descripcion{
    height: 60%;
}

.planes .planes-contenedor .plan.recomendado .boton-comprar button{
    color: black;
    font-weight: bold;
    border: 2px solid black;
    text-shadow: 0 0 5px white;
}

.planes .planes-contenedor .plan.recomendado .boton-comprar button:hover{
    background-color: black;
    color: white;
}

/* CONTACTO - FOOTER */
.contacto{
    padding: 55px 30px;
    background-color: black;
    color: rgba(255, 255, 255, 0.7);
}

.contacto .contacto-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacto .contacto-contenedor .redes{
    font-size: 40px;
}

.contacto .contacto-contenedor .redes a{
    opacity: 0.7;
    padding: 0 20px;
}

.contacto .contacto-contenedor .redes a:hover ion-icon{
    transition: all 0.5s;
    transform: scale(1.2);
    color: var(--color-naranja);
    opacity: 1;
}

.contacto .contacto-contenedor hr{
    border: 1px solid white;
    width: 90%;
    margin: 30px 0;
}

.contacto .contacto-contenedor .copyright{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto .contacto-contenedor .copyright p{
    padding-right: 20px;
}

/* Animaciones */

@keyframes logo {
    0%{
        transform: rotate(0) scale(1)
    }
    50%{
        transform: rotate(90deg) scale(1.3);
    }
    to{
        transform: rotate(180deg) scale(1)
    }
}

@keyframes titulo {
    0%{
        letter-spacing: normal;
    }
    50%{
        letter-spacing: 10px;
    }
    100%{
        letter-spacing: normal;
    }
}

@keyframes intro {
    0%{
        cursor: none;
        opacity: 1;
    }
    90%{
        cursor: none;
        opacity: 1;
    }
    100%{
        opacity: 0;
        z-index: -5;
    }
}

@keyframes intro-logo {
    0%{
        transform: translate(0, -1000px);
    }
    60%{
        transform: translate(0);
    }
    70%{
        transform: translate(0, -30px);
    }
    80%{
        transform: translate(0);
    }
    90%{
        transform: translate(0, -15px);
    }
}

@keyframes intro-carga {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes intro-titulo {
    0%{
        transform: scale(0);
    }
    15%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes mostrar-info {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes show-lista-ejercicios {
    from{
        background-color: rgba(0, 0, 0, 0);
    }
    to{
        background-color: rgba(0, 0, 0, 0.6);
    }
    
}

@keyframes mostrar-rayo {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* RESPONSIVE-DESIGN */
@media screen and (min-width: 741px) {
    .planes .planes-contenedor .plan .descripcion{
        font-size: 1.2vw;
    }
}

@media screen and (max-width: 740px) {
    .navbar{
        display: none;
    }
    
    .navbar-responsive{
        display: flex;
    }

    .rayo{
        transform: scale(0.6);
    }

    .caja-videos{
        width: 100% !important;
    }

    .planes-contenedor{
        flex-direction: column !important;
        height: auto !important;
        row-gap: 50px !important;
        padding: 20px 0 !important;
    }

    .planes-contenedor .plan{
        height: auto !important;
    }

    .planes-contenedor .plan .boton-comprar{
        transform: scale(0.9);
    }

    .redes{
        display: flex;
        align-items: center !important;
    }

    .redes a{
        padding: 5px !important;
    }
}

@media screen and (max-width: 500px){
    .navbar-responsive a:hover{
        margin: 0;
    }

    .inicio{
        /* grid-template-rows: 30% 70% !important; */
        display: flex;
        flex-direction: column;
        height: auto !important;
    }

    .inicio h2{
        padding-top: 40px;
    }

    .calculadora .genero h3{
        margin-right: 0;
    }

    .calculadora .genero label{
        margin: 0;
    }

    .rayo{
        transform: scale(0.5);
    }

    .videos{
        padding: 20px 0;
    }

    .videos-contenedor{
        width: 100% !important;
        padding-left: 0;
        padding-right: 0;
    }

    .videos .caja-videos{
        padding: 20px 5px !important;
    }

    .videos .frame{
        width: 100%;
    }

    .plan.recomendado{
        width: 90%;
    }

    .redes ion-icon{
        font-size: 10vw !important;
    }

    .copyright{
        flex-direction: column;
        text-align: center;
    }

    .copyright p{
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 450px){
    .navbar-responsive span,
    .navbar-responsive ion-icon{
        font-size: 13px;
    }

    .musculo{
        transform: scale(0.8);
    }

    .calculadora .genero label{
        padding: 0;
    }

    .calculadora .altura-info h3{
        padding-right: 10px;
    }

    .videos .texto-video{
        padding: 20px;
    }
}  